<div class="footer-section">
     <div class="footer-bottom">
      <div class="container">
          <div class="row">
            <div class="col-md-7">
                <p>All Rights Reserved @ Company 2023</p>
            </div>
            <div class="col-md-5">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Term & Condition</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Claims</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Privacy Policy</a>
                </li>
              </ul>
            </div>
          </div>
      </div>   
    </div>
</div>